.form {
  width: 60%;
  margin: 1rem 0rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  .db-statistic {
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-form-field {
      width: 90%;
    }

    .btn-search {
      margin-bottom: 1rem;
    }
  }

  table {
    width: 100%;
    border-spacing: 0px;
    tr, td {
      text-align: center;
      border-bottom: 1px solid rgb(216, 216, 216);
      border-spacing: 0px;
      padding: 1rem;
      .btn {
        width: 5%;
        border-bottom: 0px solid rgb(216, 216, 216);
      }
    }
  }
}
