.form {
  width: 60%;
  margin: 1rem 0rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;

  .title {
    width: 100%;
    text-align: center;
    margin: 1rem 0rem;
  }
  .btn {
    width: 150px;
    margin: 0rem 1rem;
    background-color: red;
  }
}
