<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card class="form">
    <mat-card-title class="title">Форма добавления машины</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Марка</mat-label>
      <input matInput placeholder="BMW" formControlName="brand">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Цвет</mat-label >
      <input matInput placeholder="Белый" formControlName="color">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Номер</mat-label>
      <input matInput placeholder="А999АА" formControlName="plateNumber">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Год выпуска</mat-label>
      <input matInput type="number" placeholder="1999" formControlName="productYear">
    </mat-form-field>

    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit" class="btn" [disabled]="form.invalid">Добавить</button>
      <button mat-flat-button color="primary" type="button" class="btn" (click)="getAllList()">Показать все</button>
    </mat-card-actions>
  </mat-card>
</form>
